.ConditionLabelContainer {
    display: flex;
    justify-content: right;
    margin: 5px;
}

.ConditionLabel {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.ConditionInput {
    width: 30px;
    margin-left: 10px;
    margin-right: 3px;
}

.MobileHelperButton {
    height: 24px;
    width: 24px;
    margin-left: 2px;
    margin-right: 2px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

@media (any-pointer: coarse) {
    /* In case any mobile-specific adjustments are needed */
}