.DieWrapper {
    display: grid;
    padding: 8px;
}

.DieWrapperHoriz {
    display: flex;
    padding: 3px;
    margin-left: 100%;
    margin-right: 100%;
}

.DieBox {
    display:grid;
    height: 80px;
    width: 80px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: magenta;
    border-radius: 10px;
    border: 1px solid black;
}

.DieWrapperHoriz > .DieBox {
    height: 50px;
    width: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

.FaceSelectPanel {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.HighlightedDie {
    margin-top: 1px;
    margin-bottom: 6px;
}

.DieWrapperHoriz > .HighlightedDie {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 6px;
    margin-right: 1px;
}

.HighlightedDieRegular {
    border: 5px solid #00eeee;
}

.HighlightedDieBlacked {
    border: 5px solid #8800ff;
}

.RedDie {
    background-color: #a01925;
}

.BlackDie {
    background-color: black;
    color: white;
}

.WhiteDie {
    background-color: white;
}

.MortalDie {
    background-color: gray;
}

.DieWrapperHoriz > .MortalDie {
    height: 70px;
    width: 70px;
}

.RemoveButton {
    height: 24px;
    width: 24px;
    text-align: center;
    vertical-align: middle;
    justify-self: right;
    margin: 5px;
    border: none;
    background-color: transparent;
    font-weight: 900;
}

.DieWrapperHoriz > * > .RemoveButton {
    height: 100%;
    width: 100%;
    justify-self: center;
    margin: 0px;
    font-size: 15px;
}

.BlackDie > .RemoveButton {
    color: #a01925;
}

@media (prefers-color-scheme: dark) {
    .RedDie {
        background-color: #a01925;
        border: 1px solid #882222;
    }
    
    .BlackDie {
        border: 1px solid #333;
        background-color: black;
        color: white
    }
    
    .WhiteDie {
        background-color: white;
        
        border: 1px solid #aaa;
    }

    .MortalDie {

    }
    
    .RedDie > .RemoveButton {
        color: white
    }

    .BlackDie > .RemoveButton {
        color: white;
    }

    .WhiteDie > .RemoveButton {
        color: black
    }

    .HighlightedDie {
        margin-top: 1px;
        margin-bottom: 6px;
    }

    .HighlightedDieRegular {
        border: 5px solid #00eeee;
    }

    .HighlightedDieBlacked {
        border: 5px solid #8800ff;
    }
    
}


@media (any-pointer: coarse) {
    .FaceSelectSelect {
        height: 30px;
    }

    .FaceSelectOption {
        height: 30px;
    }
}