.DieWrapper {
    display: grid;
    padding: 8px;
}

.DieBox {
    display:grid;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: #a01925;
}

.RedDie {
    background-color: #a01925;
}

.BlackDie {
    background-color: black;
    color: white
}

.WhiteDie {
    background-color: white;
}

.RemoveButton {
    height: 24px;
    width: 24px;
    text-align: center;
    vertical-align: middle;
    justify-self: right;
    margin: 5px;
    border: none;
    background-color: transparent;
    font-weight: 900;
}

.BlackDie > .RemoveButton {
    color: #a01925;
}