.DieBox {
    display:grid;
    height: 100px;
    width: 100px;
    background-color: #a01925;
}

.RedDie {
    background-color: #a01925;
}

.BlackDie {
    background-color: black;
    color: white
}

.WhiteDie {
    background-color: white;
}

.DieWrapper {
    display: flex;
    padding: 30px;
}

.RemoveButton {
    height: 24px;
    width: 24px;
    text-align: center;
    vertical-align: middle;
    justify-self: right;
    margin: 5px;
}