.ConditionSelectPanel {
    margin: 10px;
    border: 2px solid #010101;
    padding: 5px;
    /* min-height: 200px; */
}

.ConditionLabelContainer {
    display: flex;
    justify-content: center;
}

.ConditionLabel {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

input {
    width: 30px;
    margin-left: 15px;
}