.App {
  /* padding: 10px; */
  align-items: center;
  text-align: center;
  background-color: #ebece7;
  color: #010101;
  height: 100vh;
  width: 100vw;
}

.BoundingBox {
  padding: 10px;
}

h1 {
  color: #b87633;
  font-family: "Trajan Pro","MS PMincho","Papyrus", serif;
  margin:0px;
}

h2 {
  font-size: 14pt;
  margin: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
