body {
  background-color: #ebece7;
}

.App {
  align-items: center;
  text-align: center;
  min-height: 100%;
  width: 100vw;
}

.BoundingBox {
  padding: 10px;
}

h1 {
  color: #b87633;
  font-family: "Trajan Pro","MS PMincho","Papyrus", serif;
  margin:0px;
}

h2 {
  font-size: 14pt;
  margin: 0px;
  margin-bottom: 5px;
}

button {
  background-color: #dddddd;
  border: 2px #777777 solid;
  border-radius: 4px;
}

button:disabled {
  color: #aaaaaa
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222727;
    color: #ebece7;
  }

  h1 {
    color: #db8834
  }

 input, select, option {
    background-color: #444444;
    color: #ebece7
  }

  button {
    background-color: #666666;
    border-color: #888888;
    color: #ebece7;
  }

  button:disabled {
    border-color: #777777;
    color: #888888
  }

}
